
	<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		      	<div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Create new Task Item</h4>
		     	</div>
			    <div class="modal-body">
				     <%= simple_form_for ([@task_list, @task_list.task_items.build]) , {validate: true} do |f|  %>
				        <%= f.input :title %>
				        <%= f.input :description %>
				        <div class="form-group">
				        <%= f.text_field :duedate, placeholder:" Set due date...", class: "datepicker", :data => {provide: 'datepicker'} %>
				        </div>
			    </div>

			    <div class="modal-footer">
				    <%= f.button :submit %>
				</div>
			   	<% end %>
		</div>
	</div>
</div>



